body {
  background: #eaeaea;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  font-family: helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: #000000;
  text-decoration: none;
}

.gallery__img {
  width: 100%;
}

.section--top {
  height: 100vh;
}

.section--about {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.about__text {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
    font-size: 20px;

  padding-left: 15%;
  padding-right: 15%;
}

.border {
  border-top: 1px solid #000000;
  margin: 5px;
}

.img--logo {
  display: block;
  padding: 20px;
  width: 100%;
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.img--cc {
  top: 0;
  -webkit-mask: linear-gradient(#000000, transparent);
}

.img--bdrx {
  bottom: 0;
  -webkit-mask: linear-gradient(transparent, #000000);
}

.gallery__item {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--contact {
  padding-left: 20px;
  padding-right: 20px;
}

.contact__inner {
  display: flex;
}

.contact__column {
  width: 50%;
}

 

#drawingCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
 